function mmf_reload(ipe_hash)
{
    var selector = "[data-ipe-hash='" + ipe_hash + "']";
    mmf_load(selector, Routing.generate('_ipe_action', {'action': 'ajax-render','ipe_hash': ipe_hash}));
}

function mmf_close_dialog(target_id)
{
    $('#' + target_id).modal('hide');
}


function mmf_load_in_dialog(target_id, url, params)
{
    mmf_load_in_spanned_dialog('', target_id, url, params);
}

function mmf_load_in_spanned_dialog(span_class, target_id, url, data)
{
    selector = '#' + target_id;
    if (!$(selector).length) {
        $('body').append('<div id="' + target_id + '" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>');
    }
    //let us remove any span class
    $(selector).removeClass (function (index, css) {
            return (css.match (/\span\S+/g) || []).join(' ');
        })
        .addClass(span_class)
        .modal()
        .css({
            'width': function () {
                  return ($(this).width() / $(document).width())*100 + '%';
                },
            'left': function () {
                return (100 - (($(this).width() / $(document).width())*100))/2 + '%';
               },
            'margin': 'auto'
        });
  mmf_load(selector, url, data);
}

function mmf_open_dialog_if_close(selector)
{
    $(selector).dialog({
        //autoOpen: false,
        width: Math.min(800,$(window).width()*90/100),
        height: Math.min(600,$(window).height()*90/100),
        modal: true, //if not it would be possible to be input files with same id (entity_name_field)
        //position: { at: "left center"},
        close: function() {
            $(selector).html('');
        }
    });

    if (!$(selector).dialog('isOpen')) {
        $(selector).dialog('open');
    }
}



function mmf_block(selector)
{
    $(selector).block({
                message: '<img src="{{ asset('bundles/muchomasfacilinpageedit/images/ajax_loader.gif') }}">', ////////////////////
                css: { border: '0px', background: 'transparent' }
            });
}

function mmf_unblock(selector)
{
    $(selector).unblock();
}

function mmf_load(selector, url, params)
{
    mmf_block(selector);
    $(selector).load(url, params, function(response, status, xhr) {
      mmf_unblock(selector);
      if (status == "error") {
        var msg = "{{ 'shared.ajax_error'|trans({}, 'mmf_ipe', app.session.get('ipe_locale')) }}: "; ///////////////////////////
        $(selector).html(msg + xhr.status+ " " + xhr.statusText);
      }
    });
}

function mmf_form_submit(form_selector, target_id, route, params )
{
    //using malsup jquery form plugin
    // prepare Options Object
    var options = {
        target:   '#' + target_id
        ,url:     Routing.generate(route, params)
        ,beforeSubmit: function(formData, jqForm, options) {
            //mmf_block('#' + target_id);
            mmf_block(form_selector);
            // here we could return false to prevent the form from being submitted;
            // returning anything other than false will allow the form submit to continue
            return true;
        }
        ,success: function (responseText, statusText, xhr, $form) {
            //mmf_unblock('#' + target_id);
            mmf_unblock(form_selector);
            if (statusText == "error") {
                var msg = "{{ 'shared.ajax_error'|trans({}, 'mmf_ipe', app.session.get('ipe_locale')) }}: ";
                $('#' + target_id).html(msg + xhr.status+ " " + xhr.statusText);
            }
        }
    };
    $(form_selector).ajaxSubmit(options);
    $(form_selector).submit(options);

}

function mmf_form_reset(form_selector) {
    $(form_selector).each(function(){
            this.reset();
    });
}

////////////////////////////////////////////////////////////////////////////////

var ipe_target_id = 'ipe_dialog';

$(function() {
    $( "[data-ipe-hash]" ).dblclick(function() {
        mmf_load_in_dialog (ipe_target_id, Routing.generate('_ipe_action', {'action': 'edit', 'ipe_hash': $(this).attr('data-ipe-hash')}));
    });

});
