{% extends "MuchoMasFacilInPageEditBundle::demo_layout.html.twig" %}

{% block body %}

<h1>InPageEditBundle use examples</h1>

<h2>In page Foo entity edition</h2>
<a href="javascript:void(0)" onclick="mmf_ie_ajax('{{ path('mmf_ie_add', {'entity_class': 'MuchoMasFacil\\InPageEditBundle\\Entity\\Foo'}) }}')">New Foo entry</a>
{% if foos|length <= 0 %}
<p>{{ 'No records found' }}</p>
{% else %}
    <ul>
    {% for foo in foos %}
        {% render "MuchoMasFacilInPageEditBundle:EntityAdmin:renderObjectWithContainer" with {'object': foo, 'container_html_tag': 'li', 'container_html_attributes': 'class="la-clase-que-sea" style="color: red"'} %}
    {% endfor %}
        </ul>

{% endif %}

{#
<h2>One level menu</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['one-level-menu-example'], 'custom_params': {'selected_index': 1} } %}
<h2>Plain text</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['plain-text-example'], 'container_html_tag': 'h1', 'container_html_attributes': 'style="color: red"'} %}
<h2>Collection of plain text</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['plain-text-collection-example']} %}
<h2>Rich text</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['rich-text-example']} %}
<h2>Collection of Custom rich text</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['custom-rich-text-collection-example']} %}
<h2>Mixed rich text edition</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['rich-text-header-and-custom-rich-text-example']} %}
<h2>Image list example</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['image-example']} %}
<h2>Advanced image collection</h2>
{% render "MuchoMasFacilInPageEditBundle:ContentAdmin:renderContentWithContainer" with {'content': contents['advanced-image-example']} %}
#}
{% endblock %}

